cluster:
  %{~ if kubernetes_metrics_server ~}
  proxy:
    extraArgs:
      metrics-bind-address: 0.0.0.0:10249
  %{~ endif ~}
  network:
    cni:
      name: ${cni}
    dnsDomain: cluster.local
    %{~ if pod_subnets != null ~}
    podSubnets:
      %{~ for subnet in pod_subnets ~}
        - ${subnet}
      %{~ endfor ~}
    %{~ endif ~}
    %{~ if service_subnets != null ~}
    serviceSubnets:
      %{~ for subnet in service_subnets ~}
        - ${subnet}
      %{~ endfor ~}
    %{~ endif ~}
  apiServer:
    certSANs:
      - ${api_server_endpoint}
