machine:
  install:
    diskSelector:
      size: '> 25GB'
    wipe: true
    extraKernelArgs:
        - console=ttyS1
        - panic=10
  systemDiskEncryption:
    ephemeral:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
    state:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
  network:
    hostname: ${hostname}
    %{~ if length(dns_servers) > 0 ~}
    nameservers:
    %{~ for endpoint in dns_servers ~}
      - ${endpoint}
    %{~ endfor ~}
    %{~ else ~}
    %{~ endif ~}
  time:
    servers:
      - ${ntp_server}
  files:
    - content: |
        [metrics]
          address = "0.0.0.0:11234"        
      path: /etc/cri/conf.d/20-customization.part
      op: create
  certSANs:
    - ${api_server}
  kubelet:
    nodeIP:
      validSubnets:
        - ${subnet}



