machine:
  install:
    diskSelector:
      size: '> 25GB'
    wipe: true
    extraKernelArgs:
        - console=ttyS1
        - panic=10
  systemDiskEncryption:
    ephemeral:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
    state:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
  network:
    hostname: ${hostname}
    nameservers:
      - ${primary_dns_server}
      - ${secondary_dns_server}
  time:
    %{~ if length(ntp_servers) > 0 ~}
    servers:
      %{~ for endpoint in ntp_servers ~}
      - ${endpoint}
      %{~ endfor ~}
    %{~ else ~}
    disabled: true
    %{~ endif ~}
  files:
    - content: |
        [metrics]
          address = "0.0.0.0:11234"        
      path: /etc/cri/conf.d/20-customization.part
      op: create
  certSANs:
    - ${api_server}
  kubelet:
    nodeIP:
      validSubnets:
        - ${subnet}
