machine:
  install:
    disk: ${install_disk}
    extensions:
      - image: ghcr.io/siderolabs/qemu-guest-agent:9.2.0
      - image: ghcr.io/siderolabs/nvidia-open-gpu-kernel-modules-production:550.127.08-${talos_version}
    wipe: true
    extraKernelArgs:
        - console=ttyS1
        - panic=10
  %{~ if encryption_type == "local" ~} 
  systemDiskEncryption:
    ephemeral:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
    state:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
  %{~ endif ~}
  network:
    hostname: ${hostname}
    nameservers:
    %{~ for endpoint in dns_servers ~}
      - ${endpoint}
    %{~ endfor ~}
  time:
    servers:
    %{~ for endpoint in ntp_servers ~}
      - ${endpoint}
    %{~ endfor ~}
  %{~ if containerd_metrics_server ~}
  files:
    - content: |
        [metrics]
          address = "0.0.0.0:11234"        
      path: /etc/cri/conf.d/20-customization.part
      op: create
  %{~ endif ~}
  certSANs:
    - ${api_server_endpoint}
  %{~ if extra_mounts != null ~}
  kubelet:
    extraMounts:
      %{~ for mount in extra_mounts ~}
      - destination: ${mount.destination}
        type: ${mount.type}
        source: ${mount.source}
        %{~ if mount.options != null ~}
        options:
          %{~ for option in mount.options ~}
          - ${option}
          %{~ endfor ~}
        %{~ endif ~}
      %{~ endfor ~}
  %{~ endif ~}
